<!DOCTYPE html>
<html>
<head>
	<title>Shopify Test App</title>
	<script src="/js/jquery.js"></script>
	<script src="/js/angular.js"></script>
	<script src="/js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body ng-app="shopifyApp">
	<h1>Shopify Test App</h1>
	<div ng-controller="MainController">
		<ul class="products">
			<li ng-repeat="product in products">
				<img src="{{product.image.src}}" alt="{{product.title}}" />
				<div>{{product.title}}</div>
				<label class="compare-to" ng-show="{{product.variants[0].compare_at_price}}"> $ {{product.variants[0].compare_at_price}}</label>
				<label>$ {{product.variants[0].price}}</label>
				<div>
					<button ng-click="buy(product.variants[0].id)"> BUY </button>
				</div>
				<hr/>
				<div>
					Inventory : {{product.variants[0].inventory_quantity}}
					<button ng-click="showUpdateBox = true"> Update </button>
				</div>
				<div ng-show="showUpdateBox">
					<input type="number" ng-model="product.variants[0].updateStockQty"/>
					<button ng-click="update(product.variants[0])"> Add </button>
				</div>

			</li>
		</ul>
	</div>
	<footer>
		<div ng-click="showCopyright = true">Copyright © 2017 by Kartik Patel</div>
		<pre ng-show="showCopyright">
			All rights reserved. No part of this application may be reproduced, distributed, or transmitted
			in any form or by any means, without the prior written permission of the author, 
			except in the case of brief quotations embodied in critical reviews and certain other 
			noncommercial uses permitted by copyright law. 
			For permission requests, write to the author below.
			
			<br/>
			Kartik Patel
			katk.1989@gmail.com	
		</pre>	
	</footer>
</body>
</html>